#entry {
  width: 70%;
}

.atms {
  display: flex;
  justify-content: space-around;

}

.atm {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  width: 120px;
  color: white;
  border-radius: 15px;
  border: 4px solid black;
}

.busy {
  background: rgb(180, 60, 60);
}

.free {
  background: rgb(89, 180, 89);
}

.queue {
  margin-top: 100px;
}

.queueCount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 15px;
  border: 4px solid black;
}