body {
  background: #1E796A;
}
#entry {
  width: 70%;
}

.atms {
  display: flex;
  justify-content: space-around;

}

.atm {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  width: 120px;
  color: white;
  border-radius: 15px;
  border: 4px solid black;
}

.busy {
  background: #DC143C;
}

.free {
  background: #8FB52D;
}

.queue {
  margin-top: 100px;
}

.queueCount {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 15px;
  border: 4px solid black;
  background: #00A287;
}